<% @addresses = spree_current_user ? spree_current_user.addresses : [] %>

<div class="row">
  <div class="col-sm-11" data-hook="billing_fieldset_wrapper">
    <div class="panel panel-default" id="billing" data-hook>
      <%= form.fields_for :bill_address do |bill_form| %>
        <div class="panel-heading">
          <h3 class="panel-title"><%= Spree.t(:shipping_address) %></h3>
        </div>
        <div class="panel-body">
          <% if @addresses.present? %>
            <div class="select_address">
              <%= form.select "bill_address_id", @addresses.map{ |a| [a, a.id] }, include_blank: "-- Seleccionar dirección existente --" %>
            </div>
          <% end %>       
          <%= render :partial => 'spree/addresses/form', :locals => {
            :address_name => 'bill_address',
            :form => bill_form,
            :address_type => 'billing',
            :address => Spree::Address.default
          } %>
          
        </div>
        
      <% end %>
    </div>
  </div>

  <div class="col-sm-1" data-hook="shipping_fieldset_wrapper" style="display:none">
    <div class="panel panel-default" id="shipping" data-hook>
      <%= form.fields_for :ship_address do |ship_form| %>
        <div class="panel-heading">
          <h3 class="panel-title"><%= Spree.t(:shipping_address) %></h3>
        </div>
        <div class="panel-body">
          <p class="field checkbox" data-hook="use_billing">
            <%= check_box_tag 'order[use_billing]', '1', @order.shipping_eq_billing_address? %>
            <%= label_tag :order_use_billing, Spree.t(:use_billing_address), :id => 'use_billing' %>
          </p>
          <%= render :partial => 'spree/addresses/form', :locals => {
            :address_name => 'ship_address',
            :form => ship_form,
            :address_type => 'shipping',
            :address => Spree::Address.default
          } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="well text-right form-buttons" data-hook="buttons">
  <%= submit_tag Spree.t(:save_and_continue), :class => 'btn btn-lg btn-success' %>

  <span data-hook="save_user_address">
    &nbsp; &nbsp;
    <%= check_box_tag 'save_user_address', '1', false %>
    <%= label_tag :save_user_address, Spree.t(:save_my_address) %>
  </span>
</div>
<script type="text/javascript">
  $(document).ready(function(){

    if ($("#use_citybox").checked){
      set_address_dummy(<%= Spree::State.find_by_name('Región Metropolitana').id %>);
    } else {
      remove_address_dummy(<%= Spree::State.find_by_name('Región Metropolitana').id %>);
    }

    $("#use_citybox").change(function(){
      if(this.checked){
        set_address_dummy(<%= Spree::State.find_by_name('Región Metropolitana').id %>);
      } else {
        remove_address_dummy(<%= Spree::State.find_by_name('Región Metropolitana').id %>);
      }
    });

    function set_address_dummy(state_id){
      $(".citybox_hidden").hide();
      $("#order_bill_address_attributes_address1").val('dummy_address1');
      $("#order_bill_address_attributes_city").val('dummy_city');
      $("#order_bill_address_attributes_state_id").val(state_id);
      $("#order_bill_address_attributes_zipcode").val('8320000');
    }

    function remove_address_dummy(state_id){
      if ($("#order_bill_address_attributes_address1").val() == 'dummy_address1')
        $("#order_bill_address_attributes_address1").val('');

      if ($("#order_bill_address_attributes_city").val() == 'dummy_city'){
        $("#order_bill_address_attributes_city").val('');
        $("#order_bill_address_attributes_state_id").val(state_id);
      }
              
      $(".citybox_hidden").show();
    }
  });
</script>